body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 40px;
    color: rgb(57, 128, 235);
}

#map {
    /* margin: auto; */
    height: 500px;
    width: 100%;
   
}

/* .outer {
    position: relative;
    height: 1200px;
    width: 100%;
} */

.centered-link {
margin: auto;
color: green;
width: 200px;
padding-top: 40px;
}

.paymentForm {
    width: 500px;
    margin: auto;
}

.tinkoff-form {
    margin: auto;
}